:root {
    --twoandhalfslash-label-color: #595151;
    --twoandhalfslash-label-border-color: #8888;
    --twoandhalfslash-label-border-radius: 0.25em;
    --twoandhalfslash-label-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    --twoandhalfslash-label-background: antiquewhite;
    --twoandhalfslash-label-padding: 0.6em;
    --twoandhalfslash-label-z-index: 1000;
    --twoandhalfslash-label-font-family: Caveat;
}
